@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body {
    background: #F2F2F2;
    margin: 0;
    font-family: "Poppins";
}
h1{
    color: white;
    text-align: center;
}
h2 {
    text-align: center;
    color: black;
}
.detailid{
    background-color: #007AF3;
    padding-bottom: 40px;
    padding-top: 20px;
}
.lehepealkiri{
    color: black;
}
table{
    border-collapse: separate;
    width:100%;
    border-spacing: 20px;
}
.tabel{
    display: inline-block;
    padding: 80px;
    background-color: #20272e;
}
th,td {
    border: transparent;
    border-radius: 5em;
    padding:20px;
    text-align: center;
    background-color: white;
}
th {
    background-color: #007AF3;
    opacity: 90%;
    color: white;
    font-size: 30px;
}
.plan {
    font-weight: bold;
}
section {
    float: left;
    margin: 0 20px 0 20px;
    width: 20%;
    background: white;
    border-radius: 1em;
    padding: 2em;
}
.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50px;
    height: 50px;
}
.kastid{
    display: flex;
    flex-wrap: wrap;
    margin-bottom:40px;
    justify-content: center;
}
.kast2{
    margin-bottom: 40px;
    width: 25%;
}
.kast2 div{
    position: relative;
}

p{
    margin: 40px;
    padding: 40px;
    border-radius: 1em;
    background: white;
}
span{
    color: #007AF3;
}
.tekstid{
    text-align: center;
}
@media only screen and (max-width:800px){
    .kastid{
        flex-direction: column;
    }
    .kast2{
        display: inline-block;
        width: auto;
    }
}